<div class="row">
  <div class="post container col-xs-4">
    <h1 class="center">{{post.title}}</h1>
    <img src="{{post.image}}">
    <p class="center">{{category-posts post=post showDetails="showDetails"}}</p>
  </div>
</div>
