.post {
  border: 2px solid;
  border-radius: 3em;
  background-color: lightgray;
  margin-top: 10px;
  padding-left: 15px;
}
img {
  max-width: 100%;
}

.center {
  text-align: center;
  margin-top: 4px;
}

.postForm {
  border: 2px solid;
  border-radius: 3em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
